[submodule "botsch-kobbelt-remesher-libigl"]
	path = ext/botsch-kobbelt-remesher-libigl
	url = git@github.com:sgsellan/botsch-kobbelt-remesher-libigl.git
[submodule "nvdiffrast"]
	path = ext/nvdiffrast
	url = git@github.com:NVlabs/nvdiffrast.git
